body{
	/* margin: 0; */
}
/* 
.container{
	width: 100vw;
	height: 100vh;

	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 20px;

	display: grid;

	grid-template: 50px 1fr 1fr 100px / repeat(3, 1fr);

	gap: 10px;

	padding: 10px;
	box-sizing: border-box;
}

.container div {
	padding: 10px;
	border: 1px solid #000000;
}

.header {
	grid-column-start: 1;
	grid-column-end: 4;
}

.content-large {
	grid-row-start: 2;
	grid-row-end: span 2;
	grid-column-start: 1;
	grid-column-end: 3;
}

.footer {
	grid-column: 1 / span 3;

	grid-column-start: 1;
	grid-column-end: span 3;
} */

.jumbotron.background-jumbotron {
	background: url(../images/masjid.jpg);
	background-size: cover;
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
}
.footer-section {
	padding-top: 3em;
	background-color: #e5e5e5 !important;
	color: black;
}

.footer-link ul {
	display:table;
    border-spacing: 10px;
    border-collapse: separate;
}
.footer-link li {
	display: table-row;
    vertical-align: top;

}
.map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.map-container iframe,   
.map-container object,  
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}